/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #FFFEF8;
	line-height: 1;
	min-height: 1500px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	/* overflow: hidden; */
}

ol, ul {
	list-style: none;
}
a {
	color: unset;
	text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/


main {
	max-width: 1100px;
	width:70%;
	margin: auto;
}

header {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	max-width: 1140px;
	width: 100%;
	margin: 50px 0;
	
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

h3 {
font-family: Work Sans;
font-size: 26px;
font-weight: 400;
line-height: 30.5px;
text-align: center;
}

#contact #submit,
#loginForm-container #submit,
.modale #submit {
	height: 36px;
}

p {
	color: #3D3D3D;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

li:hover {
	color: #B1663C;
}

/* MODALE */

#modaleContainer {
	
}

.modale_main-container {
	display: none;
	position: fixed;
	height:100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.781);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* padding: 30px 50px 0px 50px; */
	z-index: 1000;

}

.modale {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	height: 60vh;
	min-height: 700px;
	max-height: 950px;
	/* gap: 20px; */
	padding: 0em 7em;
	background-color: #ffffff;
	border-radius: 10px;
	z-index: 999;
	
	/* overflow-y: auto; */
}

.modaleAddWork {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	height: 60vh;
	min-height: 700px;
	max-height: 950px;
	/* gap: 20px; */
	padding: 0em 7em;
	background-color: #ffffff;
	border-radius: 10px;
	z-index: 1000;
	
	/* overflow-y: auto; */
}

.modale h3,
.modaleAddWork label {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2em 0 2em 0;
	height: 4em;
	vertical-align: middle;
	text-align: center;
}
/* .modaleAddWork h3 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 2em;
	height: 4em;
	vertical-align: middle;
	text-align: center;
} */

.x-mark-modale_container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 30px;
	right: 30px;
	z-index: 15000;
}

.fa-xmark,
.fa-arrow-left {

	/* align-self: flex-end; */
	font-size: 24px;
	cursor: pointer;
}

.arrow-goback_container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 30px;
	left: 30px;
	z-index: 15000;
}

.modale_gallery {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 35px;
	/* margin-top:1em;
	margin-bottom: 6em; */
	
	overflow-y: auto;
}

/* .modale_gallery::after {
	content: "";
	width: 100%;
	height: 1px;
	background-color: #B3B3B3;
	position: absolute;
	bottom: -5em;
} */

.modale_gallery figure {
	position: relative;
}
/* .modale_gallery figure::after {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 17px;
	width: 17px;
	background-color: black;
	border-radius: 5px;
	font-family: "Font Awesome 6 Free";
	content: "\f2ed";
	font-size: 0.8em;
	color: white;
	font-weight: 600;
	top: 6px;
	right: 6px;
	cursor: pointer;
} */

.delete-work_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 6px;
	right: 6px;
	height: 17px;
	width: 17px;
	cursor: pointer;
	background-color: black;
	border-radius: 5px;
}

.delete-work_btn .fa-trash-can {
	font-size: 0.8em;
	color: white;
	font-weight: 600;
}

.modale_gallery img {
	width: 100%;
	height: 105px;
}

.ajout-photo_box,
.validateAddWorks_box {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 8em;
	margin-top: 2em;
}

.ajout-photo_box input[type="submit"],
.validateAddWorks_box input[type="submit"]  {
	margin: 0;
}

.ajout-photo_box::after,
.validateAddWorks_box::after {
	content: "";
	width: 100%;
	height: 1px;
	background-color: #B3B3B3;
	position: absolute;
	top: 0;
}

#introduction {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 50px;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 100%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 2em;
}

/****** CATEGORYS FILTERS ******/

.worksFilters_container {
	display: flex;
	justify-content: center;
	gap: 15px;
	width: 100%;
}

.filterBtn {
	border-style: none;
	background: none;
	font-family: 'Syne', serif;
	font-size: 16px;
	font-weight: 700;
	color: #1D6154;
	border: solid 1px #1D6154;
	border-radius: 60px;
	height: 37px;
	min-width: 100px;
	padding: 0 10px 0 10px;
	cursor: pointer;
	transition: all 750ms;
}

.filterBtnActived {
	background-color: #1D6154;
	color: #FFFEF8;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	padding-top: 4em;
}

.gallery img {
	width: 100%;
}
/************ FORMS CONTACT AND LOGIN             ***************/

#contact {
	width: 50%;
	margin: auto;
}

#contact > *,
#loginForm-container > * {
	text-align: center;
}

#contact h2,
#loginForm-container h2 {
	margin-bottom: 20px;
}

#contact form,
#loginForm-container form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#loginForm-container input,
.modale input {
	height: 51px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label,
#loginForm-container label {
	margin: 2em 0 1em 0;
	font-weight: bold;
	color: #3D3D3D;
}
#contact textarea,
#loginForm-container textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}
.validateAddWorks_box input {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #A7A7A7;
	border-style: none;
	padding: 0.3em;
}

#postWorkForm {
	display: flex;
	flex-direction: column;
}

/******** FOOTER ************/
footer {
	height: 60px;
	width: 100vh;
	background-color: #ffffff;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	max-width: 1140px;
	margin: 2em;
}

/************** LOGIN PAGE *************/

#body_login {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#main_login {
	min-height: 70vh;
}

#loginForm-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
	height: 100%;
	margin: auto;
}


#loginForm-container a {
	color: #3D3D3D;
	text-align: center;
}

#loginForm-container a:hover {
	color: #B1663C;
} 

#loginForm-container .infosKo {
	box-shadow: 0px 5px 20px rgb(231, 70, 70);
}

/************ HOME PAGE EDITION MODE **********/

.edit_headband {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 5px;
	align-items: center;
	color: white;
	height: 59px;
	background-color: rgb(0, 0, 0);
}

.fa-regular {
	font-size: 20px;
	color: white;
}
#body .fa-regular {
	color: black;
}

#title_container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.modify_button {
	
	border-style: none;
	background: none;
	background-color: transparent;
	position: absolute;
	transform: translateX(150px);
	z-index: 1;
	cursor: pointer;
	
}
#title_container .fa-regular {
	font-size: 16px;
	font-weight: 400;
	color: black;
}
#title_container h2 {
	margin-bottom: 0;
}
#title_container span {
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 500;
	line-height: 16.42px;
	text-align: center;
}